.nq{
    background-color: purple;
    color: white;
}
section{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:100vh;
    margin:0;
    font-family:sans-serif;
}