body {
    background-color: #606060;
    color: white;
}

.nq {
    background-color: purple;
    color: black;
    padding: 5px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

button {
    width: 280px;
    padding: 14px 18px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    border: 3px solid #993300;
    border-radius: 8px;
    background-color: #996600;
    cursor: pointer;
    transition: all 0.08s ease-in-out;
    -webkit-tap-highlight-color: transparent;
    margin: 3px;
    color: black;
}

input {
    width: 280px;
    padding: 14px 18px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    border: 3px solid #993300;
    border-radius: 8px;
    background-color: #996600;
    transition: all 0.08s ease-in-out;
    -webkit-tap-highlight-color: transparent;
    margin: 3px;
}

footer {
    margin-top: -50px;
    margin-left: 30px;
}

a {
    color: black;
    text-decoration: none;
}

img {
    margin: 10px;
}

h1 {
    margin-left: 50px;
    margin-right: 50px;
}

p {
    margin-left: 50px;
    margin-right: 50px;
}

.trinta {
    font-size: 30px;
}

#maze {
    display: grid;
    width: 200px;
    height: 200px;
    margin: 20px auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    border: 3px solid white;
}

.cell {
    width: 100%;
    height: 100%;
}

.wall {
    background: black;
}

.player {
    background: lime;
}
#game-area {
        width:300px;
        height:300px;
        background:#111;
        border:3px solid white;
        margin:20px auto;
        position:relative;
        overflow:hidden;
}
#target {
        width:40px;
        height:40px;
        background:red;
        position:absolute;
        cursor:pointer;
        border-radius:5px;
}